.container {
  display: inline-block;
  background-color: rgb(152, 124, 124);
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;

  transition: background-color 1s ease-in-out, border-color 1s ease-in-out;

  &,
  span {
    color: "#fff";
  }

  i,
  span,
  path,
  svg {
    transition: all 0.3s ease-inout;
  }

  &:hover {
    background-color: darken(brown, 12%);
    transform: translateY(1px);
  }
}
