.container {
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  h2 {
    color: red;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  a {
    margin: 20px auto;
  }
}
